<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        built_in_filters

        <h2>{{data}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|truncatewords:'4'}}</h2>
        <h2>{{data|truncatechars:'12'}}</h2>
        <h2>{{data|slice:'10'}}</h2>

        <h2> {{dt|date:'S'}}</h2>
        <h2> {{dt|date:'F'}}</h2>
        <h2> {{dt|date:'Y'}}</h2>
        <h2> {{dt|date:'D'}}</h2>
        <h2> {{dt|date:'G'}}</h2>
        <h2> {{dt|date:'H'}}</h2>
        <h2> {{dt|date:'A'}}</h2>
        <h2> {{dt|date:'s'}}</h2>
        <h2> {{dt|date:'i'}}</h2>



    </center>
</body>
</html>